[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-mongoengine = "*"
mongoengine-goodjson = "*"
mongoengine = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Bcrypt = "*"
Flask-JWT-Extended = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}

[requires]
python_version = "3.7"
